<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta name="robots" content="noindex, nofollow, noarchive">
<title>%%pageTitle%% (%%image%%)</title></head><body>
#include "style.css";



<center>
%%youAreHere%% (%%currPos%%)
<br>
<br>

<img src="%%albumURLroot%%/%%newCurrDir%%/%%encodedImageURL%%" border="1">

<br>

%%description%% %%prevLink%%&nbsp;&nbsp;%%nextLink%%&nbsp;&nbsp;%%backLink%%

<br>

Copyright&nbsp;&copy;&nbsp;<a href="/homepage-2002/" target="_blank">Frederik&nbsp;Vandaele</a>&nbsp;&nbsp;Alle rechten voorbehouden.

</center>
</body>
</html>

